In [1]:
# include price in specs

In [2]:
import pandas as pd

In [3]:
spec_df = pd.read_json(r"D:\Study\Programs\TSAI\EAG_V1_CAPESTONE\db\specification.json")
product_df = pd.read_json(r"D:\Study\Programs\TSAI\EAG_V1_CAPESTONE\db\product.json")

In [4]:
spec_df.head()

   spec_id  product_id     spec_name spec_value       unit data_type
0        1           1         Brand      Apple       None      text
1        2           1     Processor   Apple M3       None      text
2        3           1           RAM          8  gigabytes   integer
3        4           1       Storage        256  gigabytes   integer
4        5           1  Display_Size       13.6     inches     float

In [5]:
product_df.head()

,product_id,subcategory_id,product_name,brand,sku,price,stock_quantity,created_at,updated_at,category_id,subcategory_name,category_name
0,1,1,Apple MacBook Air M2,Apple,SKU-LAP-00001,1694,465,2023-07-22,2025-02-17,1,Laptops,Electronics
1,2,1,Apple MacBook Pro M3,Apple,SKU-LAP-00002,1619,390,2022-11-18,2025-04-29,1,Laptops,Electronics
2,3,1,Dell XPS 13,Dell,SKU-LAP-00003,1700,468,2023-11-03,2025-02-05,1,Laptops,Electronics
3,4,1,HP Spectre x360,HP,SKU-LAP-00004,1591,183,2024-08-06,2025-02-07,1,Laptops,Electronics
4,5,1,Lenovo ThinkPad X1,Lenovo,SKU-LAP-00005,1182,264,2022-10-26,2025-09-07,1,Laptops,Electronics

In [6]:
spec_df[spec_df["product_id"]==1]

   spec_id  product_id         spec_name spec_value       unit data_type
0        1           1             Brand      Apple       None      text
1        2           1         Processor   Apple M3       None      text
2        3           1               RAM          8  gigabytes   integer
3        4           1           Storage        256  gigabytes   integer
4        5           1      Display_Size       13.6     inches     float
5        6           1      Battery_Life         18      hours   integer
6        7           1            Weight       1.49  kilograms     float
7        8           1  Operating_System      macOS       None      text
8        9           1          Graphics  Apple GPU       None      text
9       10           1          Warranty          1      years   integer

In [7]:
1

1

In [8]:
s2 = pd.read_json(r"D:\Study\Programs\TSAI\EAG_V1_CAPESTONE\db\specification_2.json")

In [9]:
s2.shape

(210, 6)

In [10]:
spec_df.shape

(190, 6)

In [11]:
s2

     spec_id  product_id     spec_name spec_value       unit data_type
0          1           1         Brand      Apple       None      text
1          2           1     Processor   Apple M3       None      text
2          3           1           RAM          8  gigabytes   integer
3          4           1       Storage        256  gigabytes   integer
4          5           1  Display_Size       13.6     inches     float
..       ...         ...           ...        ...        ...       ...
205      206          16         Price        217        USD     float
206      207          17         Price        201        USD     float
207      208          18         Price        278        USD     float
208      209          19         Price        268        USD     float
209      210          20         Price        277        USD     float

[210 rows x 6 columns]