In [1]:
import pandas as pd
import json

In [2]:
pwd

'D:\\Study\\Programs\\TSAI\\EAG_V1_CAPESTONE\\dev_docs'

In [3]:
with open(r"ecommerce_dummy_data.json", "r", encoding="utf-8") as f:
    data = json.load(f)

In [4]:
data.keys()

dict_keys(['user', 'category', 'product', 'specification', 'buy_history', 'return'])

In [5]:
user_df = pd.DataFrame(data["user"])
buy_history_df = pd.DataFrame(data["buy_history"])
category_df = pd.DataFrame(data["category"])
product_df = pd.DataFrame(data["product"])
specification_df = pd.DataFrame(data["specification"])
return_df = pd.DataFrame(data["return"])

In [6]:
user_df

,user_id,first_name,second_name,email,phone,address
0,1,Craig,Delgado,robert81@baker.org,(154)054-3813x788,"90171 Alexandra Mills, Port Jillianside, AL 21228"
1,2,Mario,Edwards,wvasquez@hotmail.com,960.290.2499x6518,"97471 Brown Park Suite 053, New Kevin, AR 85256"
2,3,Todd,Wilson,robert54@gmail.com,+1-680-033-0380x56090,"52466 Rachel Plaza, South Ashley, KS 06345"
3,4,Michael,Short,lisa53@gmail.com,653.382.6231x684,"1361 Sarah Ford, Denisetown, CT 35481"

In [7]:
buy_history_df.head()

,order_id,user_id,date,product_id,payment_method,shipping_address,return_eligible_date,quantity
0,5000,2,2025-07-06,471,Cash On Delivery,"97471 Brown Park Suite 053, New Kevin, AR 85256",2025-07-16,3
1,5001,2,2025-08-08,196,Debit Card,"97471 Brown Park Suite 053, New Kevin, AR 85256",2025-09-07,3
2,5002,2,2025-07-05,295,Credit Card,"97471 Brown Park Suite 053, New Kevin, AR 85256",2025-07-25,1
3,5003,4,2025-07-17,461,PayPal,"1361 Sarah Ford, Denisetown, CT 35481",2025-08-16,2
4,5004,2,2025-06-21,210,Debit Card,"97471 Brown Park Suite 053, New Kevin, AR 85256",2025-07-21,1

In [8]:
category_df

   category_id category_name
0            1   Electronics
1            2      Utensils
2            3         Books
3            4        Sports

In [9]:
product_df.head()

,product_id,category_id,product_name,items_included,price,product_description,return_window
0,100,1,Focus Electronics,Fire practice own.,679.89,Speak system production brother education need...,10
1,101,1,Approach Electronics,Step small mouth.,564.49,Teach catch why tax training do draw order aud...,15
2,102,1,Discover Electronics,Food full success talk.,25.08,Natural remember service answer often level la...,30
3,103,1,Understand Electronics,Thought stage seven.,403.42,Window number bit decade week.,20
4,104,1,Page Electronics,Really well catch others.,856.95,Interesting dinner everything face radio model...,20

In [9]:
specification_df.head()

   spec_id  product_id spec_name spec_value
0        1         100      Hair        The
1        2         100       Lay       None
2        3         101       Red       Fire
3        4         101      Cold      Music
4        5         101      Last       Good

In [10]:
return_df.head()

   return_id  buy_order_id return_request_date     return_reason return_status
0       9000          5716          2025-06-05        Wrong size      Rejected
1       9001          5208          2025-06-20  Not as described      Approved
2       9002          5335          2025-08-17  Not as described       Pending
3       9003          5570          2025-05-29    Defective item       Pending
4       9004          5219          2025-07-06        Wrong size       Pending

In [12]:
# # LEFT JOIN (all rows from buy_history, matching from product)
# left_join = pd.merge(buy_history, product, on="product_id", how="left")

# # INNER JOIN (only rows with matching product_id in both tables)
# inner_join = pd.merge(buy_history, product, on="product_id", how="inner")

In [11]:
user_df.to_csv(r"..\DB\user.csv")
buy_history_df.to_csv(r"..\DB\buy_history.csv")
category_df.to_csv(r"..\DB\category.csv")
product_df.to_csv(r"..\DB\product.csv")
specification_df.to_csv(r"..\DB\specification.csv")
return_df.to_csv(r"..\DB\return.csv")